@charset "UTF-8";
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham.otf"); }

@font-face {
  font-family: 'GothamRegular';
  src: url("../fonts/gothamregular.ttf"); }

@font-face {
  font-family: 'GothamLight';
  src: url("../fonts/githamlight.ttf"); }

@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/Gotham Bold.otf"); }

@font-face {
  font-family: 'BanderaPro';
  src: url("../fonts/9087.otf"); }

@font-face {
  font-family: 'MyraidPro';
  src: url("../fonts/MyriadProRegular.otf"); }

.services {
  background: #ffffff;
  border-bottom: 2px solid #f4f4f4; }
  .services .services__container {
    padding: 60px 0;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #f4f4f4; }
  .services > header {
    max-width: 1080px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .services__title {
    margin: 0;
    text-align: center;
    font-weight: bold;
    line-height: 1.333;
    text-align: center;
    font-family: "Gotham";
    font-size: 28px;
    color: #3f4147;
    text-transform: uppercase;
    font-weight: bold; }
    .services__title:after {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background: #a70c5d;
      margin: 20px auto; }
  .services__subtitle {
    text-align: center;
    margin: 0;
      margin-color: #3f4147;
      margin-font-family: "GothamRegular";
      margin-font-size: 15px; }
  .services__content {
    padding-top: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    max-width: 1080px;
    margin: 0 auto; }
  .services__block {
    width: 50%; }
    .services__block:hover {
      cursor: pointer; }
  .services__img {
    width: 36px;
    height: 36px;
    float: left; }
    .services__img:hover {
      cursor: pointer; }

.block__title {
  padding-left: 30px;
  font-family: "Gotham";
  text-transform: uppercase;
  color: #3f4147;
  font-size: 15px;
  display: inline;
  width: 70%;
  float: left;
  line-height: 1.333; }

.block__info {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #ae206a;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  font-family: "BanderaPro";
  margin-left: 20px; }

.block__text {
  padding: 0 0 50px 70px;
  float: left;
  font-family: "GothamLight"; }

.block__parag {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.538; }
  .block__parag:before {
    content: "o";
    padding-right: 10px;
    font-weight: bold;
    color: #ae206a;
    font-family: "Gotham"; }

.services__block:hover .svg__st {
  stroke: #a81060;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.services__block:hover .img__info {
  background-color: #a70c5d;
  fill: #ffffff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .services__block:hover .img__info.info {
    fill: #ffffff;
    stroke: #FFFFFF; }

.reviews {
  background: #ffffff;
  border-bottom: 2px solid #f4f4f4; }
  .reviews .reviews__container {
    padding: 60px 0;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #f4f4f4; }
  .reviews > header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 60px 0 0 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1080px;
    margin: 0 auto; }
  .reviews__title {
    font-weight: bold;
    margin: 0;
    line-height: 1.333;
    text-align: center;
    font-family: "Gotham";
    text-transform: uppercase; }
    .reviews__title:after {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background: #a70c5d;
      margin: 20px auto; }
  .reviews__subtitle {
    text-align: center;
    color: #3f4147;
    font-family: "GothamLight"; }
  .reviews__content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1080px;
    margin: 0 auto; }
  .reviews__block--text {
    padding-right: 80px; }
  .reviews__text {
    font-family: "GothamLight";
    margin: 0;
    font-size: 17px;
    line-height: 1.471;
    padding-bottom: 40px; }
  .reviews__video {
    height: 200px;
    width: 300px;
    display: block; }
  .reviews__footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 60px;
    margin: 44px 0; }
    .reviews__footer:hover {
      cursor: pointer; }
    .reviews__footer:hover .img__reload {
      animation: 1s linear 0s normal none infinite running reload;
      -webkit-animation: 1s linear 0s normal none infinite running reload; }

.author__name {
  font-family: "GothamLight";
  font-size: 1rem;
  font-family: "GothamBold";
  text-decoration: none;
  margin: 0;
  padding: 20px 0; }

.author__post {
  float: left;
  font-size: 14px;
  font-family: "GothamLight";
  margin: 0; }
  .author__post:after {
    content: "•";
    padding: 0 10px;
    color: #a70c5d;
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px); }

.author__comp {
  float: left;
  text-decoration: none;
  margin: 0; }
  .author__comp--link {
    color: #000000;
    font-weight: bold;
    -webkit-text-decoration: underline #d8d9d9;
            text-decoration: underline #d8d9d9;
    font-family: "Gotham"; }
    .author__comp--link:hover {
      color: #a70c5d; }

.reviews__block--text:hover {
  cursor: pointer; }
  .reviews__block--text:hover .author__name {
    color: #a70c5d; }

.reviews__block--video:hover {
  cursor: pointer; }
  .reviews__block--video:hover .author__name {
    color: #a70c5d; }

.reload__text {
  line-height: 60px;
  text-transform: uppercase;
  font-family: "Gotham";
  display: inline-block;
  font-size: 11px;
  margin: 0;
  padding-left: 10px; }

.img__info {
  width: 30px;
  height: 30px;
  border: 2px solid #ae206a;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 5px;
  float: left;
  margin-right: 20px; }

.img__quotes {
  width: 20px;
  padding-bottom: 20px;
  stroke: #a70c5d; }

.img__youtube {
  display: block;
  padding-bottom: 20px; }

.img__reload {
  height: 20px;
  line-height: 60px;
  vertical-align: middle; }
  .img__reload:hover {
    animation: 1s linear 0s normal none infinite running reload;
    -webkit-animation: 1s linear 0s normal none infinite running reload; }

@keyframes reload {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes reload {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.services__subtitle b {
  color: #000000; }

.reviews__subtitle b {
  color: #000000; }

@media screen and (max-width: 1080px) {
  .services__container > header {
    padding: 0 20px; }
  .services__content {
    padding: 30px 40px 0 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .services__block {
    display: block;
    width: 100%; }
  .services__img {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 15px; }
  .block__title {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center; }
  .img__info {
    display: none; }
  .reviews__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 80px 50px 0 50px; }
  .img__quotes {
    margin: 0 auto;
    width: 100%;
    height: 50px; }
  .reviews__subtitle {
    padding: 0 20px; }
  .reviews__text {
    text-align: center; }
  .img__author {
    margin: 0 auto;
    display: block; }
  .author__name {
    text-align: center; }
  .author__post {
    display: block;
    text-align: center;
    float: none; }
  .author__post:after {
    content: ""; }
  .author__comp {
    display: block;
    text-align: center;
    float: none;
    margin-bottom: 20px; }
  .img__youtube {
    margin: 0 auto;
    display: block; }
  .reviews__video {
    margin: 0 auto; }
  .reviews__block--text {
    padding-right: 0; } }
