@charset "UTF-8";
@font-face {
  font-family: 'GothamRegular';
  src: url("../fonts/gothamregular.ttf"); }

@font-face {
  font-family: 'GothamLight';
  src: url("../fonts/githamlight.ttf"); }

@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/Gotham Bold.otf"); }

@font-face {
  font-family: 'BanderaPro';
  src: url("../fonts/9087.otf"); }

@font-face {
  font-family: 'MyraidPro';
  src: url("../fonts/MyriadProRegular.otf"); }

.services {
  background: #ffffff;
  border-bottom: 1px solid #f4f4f4; }
  .services > header {
    width: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 0;
    border-bottom: 1px solid #f4f4f4; }
  .services__title--main {
    margin: 0;
    text-align: center;
    font-weight: bold;
    line-height: 1.333;
    text-align: center;
    font-family: "Gotham";
    font-size: 28px;
    color: #3f4147;
    text-transform: uppercase;
    font-weight: bold; }
    .services__title--main:after {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background: #a70c5d;
      margin: 20px auto; }
  .services__subtitle--main {
    text-align: center;
    margin: 0px;
    color: #3f4147;
    font-family: "GothamPro";
    font-size: 15px; }
  .services__content {
    padding: 60px 0 30px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    max-width: 1080px;
    margin: 0 auto; }
    .services__content:first-of-type {
      padding-bottom: 50px; }
  .services__block {
    width: 50%; }
    .services__block:hover {
      cursor: pointer; }
      .services__block:hover .st4 {
        stroke: none;
        fill: #a81060;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease; }
      .services__block:hover .svg__st {
        stroke: #a81060;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease; }
      .services__block:hover .services__img--info {
        background-color: #a70c5d;
        fill: #ffffff;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease; }
        .services__block:hover .services__img--info.info {
          fill: #ffffff;
          stroke: #FFFFFF; }
  .services__title--block {
    padding-left: 30px;
    font-family: "Gotham";
    text-transform: uppercase;
    color: #3f4147;
    font-size: 15px;
    display: inline;
    width: 70%;
    float: left;
    line-height: 1.333;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    min-height: 40px; }
  .services__img--service {
    width: 40px;
    height: 40px;
    float: left; }
    .services__img--service:hover {
      cursor: pointer; }
  .services__subtitle--block {
    display: inline-block;
    padding: 25px 50px 0 66px; }
  .services__img--info {
    width: 30px;
    height: 30px;
    border: 2px solid #a70c5d;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    padding: 5px;
    float: left;
    margin-right: 20px; }
  .services__parag {
    list-style: none;
    line-height: 1.538; }
    .services__parag:before {
      content: "o";
      padding-right: 10px;
      font-weight: bold;
      color: #ae206a;
      font-family: "Gotham"; }

.reviews {
  background: #ffffff;
  border-bottom: 1px solid #f4f4f4; }
  .reviews > header {
    width: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 0 80px 0; }
  .reviews__title--main {
    font-weight: bold;
    margin: 0;
    line-height: 1.333;
    text-align: center;
    font-family: "Gotham";
    text-transform: uppercase; }
    .reviews__title--main:after {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background: #a70c5d;
      margin: 20px auto; }
  .reviews__subtitle--main {
    text-align: center;
    margin: 0;
    color: #3f4147;
    font-family: "GothamLight"; }
  .reviews__content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1080px;
    margin: 0 auto; }
  .reviews__block--text {
    padding-right: 80px; }
  .reviews__text {
    font-family: "GothamLight";
    margin: 0;
    font-size: 17px;
    line-height: 1.471;
    padding-bottom: 40px; }
  .reviews__video {
    height: 200px;
    width: 300px;
    display: block; }
  .reviews__footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 60px;
    margin: 44px 0; }
    .reviews__footer:hover {
      cursor: pointer; }
    .reviews__footer:hover .img__reload {
      animation: 1s linear 0s normal none infinite running reload;
      -webkit-animation: 1s linear 0s normal none infinite running reload; }

.author__name {
  font-family: "GothamLight";
  font-size: 1rem;
  font-family: "GothamBold";
  text-decoration: none;
  margin: 0;
  padding: 20px 0; }

.author__post {
  float: left;
  font-size: 14px;
  font-family: "GothamLight";
  margin: 0; }
  .author__post:after {
    content: "•";
    padding: 0 10px;
    color: #a70c5d;
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px); }

.author__comp {
  float: left;
  text-decoration: none;
  margin: 0; }
  .author__comp--link {
    color: #000000;
    font-weight: bold;
    -webkit-text-decoration: underline #d8d9d9;
            text-decoration: underline #d8d9d9;
    font-family: "Gotham"; }
    .author__comp--link:hover {
      color: #a70c5d; }

.reviews__block--text:hover {
  cursor: pointer; }
  .reviews__block--text:hover .author__name {
    color: #a70c5d; }

.reviews__block--video:hover {
  cursor: pointer; }
  .reviews__block--video:hover .author__name {
    color: #a70c5d; }

.reload__text {
  line-height: 60px;
  text-transform: uppercase;
  font-family: "Gotham";
  display: inline-block;
  font-size: 11px;
  margin: 0;
  padding-left: 10px; }

.img__quotes {
  width: 20px;
  padding-bottom: 20px;
  stroke: #a70c5d; }

.img__youtube {
  display: block;
  padding-bottom: 20px; }

.img__reload {
  height: 20px;
  line-height: 60px;
  vertical-align: middle; }
  .img__reload:hover {
    animation: 1s linear 0s normal none infinite running reload;
    -webkit-animation: 1s linear 0s normal none infinite running reload; }

@keyframes reload {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes reload {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.services__subtitle b {
  color: #000000; }

.reviews__subtitle b {
  color: #000000; }

@media screen and (max-width: 1080px) {
  .services {
    padding-bottom: 20px; }
    .services__container {
      padding: 0 20px; }
    .services__subtitle--main {
      padding: 0 20px 0 20px; }
    .services__content {
      padding: 0px 40px 0px 40px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .services__content:first-of-type {
        padding-bottom: 0; }
    .services__block {
      display: block;
      width: 100%;
      padding-top: 10px; }
    .services__img--service {
      display: block;
      width: 100%;
      height: 50px;
      margin-bottom: 15px; }
    .services__title--block {
      display: block;
      width: 100%;
      padding: 0;
      text-align: center; }
    .services__subtitle--block {
      padding: 0 5px 0 5px; }
    .services__img--info {
      display: none; }
    .services__parag {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  .reviews__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 80px 50px 0 50px; }
  .img__quotes {
    margin: 0 auto;
    width: 100%;
    height: 50px; }
  .reviews__subtitle {
    padding: 0 20px; }
  .reviews__text {
    text-align: center; }
  .img__author {
    margin: 0 auto;
    display: block; }
  .author__name {
    text-align: center; }
  .author__post {
    display: block;
    text-align: center;
    float: none; }
  .author__post:after {
    content: ""; }
  .author__comp {
    display: block;
    text-align: center;
    float: none;
    margin-bottom: 20px; }
  .img__youtube {
    margin: 0 auto;
    display: block; }
  .reviews__video {
    margin: 0 auto; }
  .reviews__block--text {
    padding-right: 0; } }
