@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham.otf"); }

@font-face {
  font-family: "Gotham\ Bold";
  src: url("../fonts/Gotham Bold.otf"); }

@font-face {
  font-family: "GothamRegular";
  src: url("../fonts/gothamregular.ttf"); }

@font-face {
  font-family: "GothamLight";
  src: url("../fonts/githamlight.ttf"); }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProRegular.ttf"); }

@media screen and (max-width: 768px) {
  .container__left {
    min-width: 100%;
    text-align: center; }
    .container__left h1:after {
      min-width: 90px;
      margin: 30px auto !important; }
  .container__right {
    display: none; } }

body {
  margin: 0;
  padding: 0; }

.welcome-page {
  min-height: 100vh;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 30px 30px 0 30px;
  background: #f5f5f5; }
  .welcome-page .header {
    padding-bottom: 30px; }
    .welcome-page .header .container {
      align-items: center; }
    .welcome-page .header .brand {
      flex-grow: 3; }
    .welcome-page .header nav {
      margin: 0 auto;
      flex-grow: 3;
      text-align: center; }
      .welcome-page .header nav .nav-link {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        color: #454545;
        padding-right: 30px;
        font-family: "GothamLight";
        font-weight: 600; }
        .welcome-page .header nav .nav-link:hover {
          color: #c51b74; }
    .welcome-page .header form {
      position: relative; }
      .welcome-page .header form .form-group {
        margin-bottom: 0;
        width: 65px; }
        .welcome-page .header form .form-group:after {
          content: "";
          display: block;
          width: 17px;
          height: 17px;
          background: #dddbdb;
          border-radius: 50%;
          top: 8px;
          position: absolute;
          left: 10px; }
        .welcome-page .header form .form-group select {
          border-radius: 30px;
          border: 2px solid #dddbdb;
          text-transform: uppercase;
          color: #a70c5d;
          font-family: "Gotham\ Bold";
          padding-left: 27px;
          width: 65px;
          padding-right: 0;
          padding-top: 2px;
          height: 32px;
          background: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none; }
          .welcome-page .header form .form-group select:hover {
            border: 2px solid #a70c5d; }
          .welcome-page .header form .form-group select option {
            font-size: 12px;
            text-transform: uppercase;
            color: #808080;
            padding-left: 20px; }
  .welcome-page .container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex; }
    .welcome-page .container .container__left {
      width: 50%;
      padding: 30px 0; }
      .welcome-page .container .container__left h1 {
        font-family: "Gotham";
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.4;
        color: #454545; }
        .welcome-page .container .container__left h1:after {
          content: "";
          width: 40px;
          height: 2px;
          background-color: #a70c5d;
          display: block;
          margin: 30px 0; }
      .welcome-page .container .container__left p {
        font-family: "GothamLight";
        font-size: 1rem;
        padding-right: 60px;
        line-height: 1.6; }
        .welcome-page .container .container__left p b {
          font-family: "Gotham"; }
      .welcome-page .container .container__left p:last-of-type {
        margin-top: 40px;
        margin-bottom: 0;
        padding-bottom: 40px; }
      .welcome-page .container .container__left .btn_price {
        background-color: #a70c5d;
        border: none;
        color: #fff;
        padding-left: 15px;
        height: 50px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        width: 180px;
        border-radius: 30px;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        position: relative; }
        .welcome-page .container .container__left .btn_price:after {
          content: "";
          width: 22px;
          height: 22px;
          display: block;
          background: url(../img/arrow.png);
          position: absolute;
          top: 13px;
          left: 15px;
          transform: rotate(180deg); }
    .welcome-page .container .container__right {
      width: 50%;
      padding-left: 2em;
      padding-top: 22px;
      position: relative; }
      .welcome-page .container .container__right img {
        position: absolute;
        bottom: 0; }
      .welcome-page .container .container__right:before {
        content: "";
        width: 80px;
        height: 80px;
        display: block;
        cursor: pointer;
        background: #fff;
        background-image: url("../img/btn-play.png");
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        position: absolute;
        top: 40%;
        left: -60px; }
