@font-face
    font-family: 'GothamRegular'
    src: url('../fonts/gothamregular.ttf')

@font-face
    font-family: 'GothamLight'
    src: url('../fonts/githamlight.ttf')

@font-face 
    font-family: 'GothamBold'
    src: url('../fonts/Gotham Bold.otf')

@font-face
    font-family: 'BanderaPro'
    src: url('../fonts/9087.otf')

@font-face
    font-family: 'MyraidPro'
    src: url('../fonts/MyriadProRegular.otf')


.services
	background: #ffffff
	border-bottom: 1px solid #f4f4f4	
	&>header
		width: 100%
		margin: 0 auto
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-content: center
		align-items: center
		text-align: center
		flex-direction: column
		justify-content: center
		padding: 60px 0
		border-bottom: 1px solid #f4f4f4
	&__title--main
	   margin: 0
	   text-align: center
	   font-weight: bold
	   line-height: 1.333
	   text-align: center
	   font-family: "Gotham"
	   font-size: 28px
	   color: #3f4147
	   text-transform: uppercase
	   font-weight: bold
	   &:after
	   	content: ""
	   	display: block
	   	width: 50px
	   	height: 2px
	   	background: #a70c5d
	   	margin: 20px auto
	&__subtitle--main
		text-align: center
		margin: 0px
		color: #3f4147
		font-family: "GothamPro"
		font-size: 15px
	&__content
		padding: 60px 0 30px 0
		display: flex
		align-content: center
		max-width: 1080px
		margin: 0 auto
		&:first-of-type
			padding-bottom: 50px
	&__block
		width: 50%
		&:hover
			cursor: pointer
			& .st4
				stroke: none
				fill: #a81060
				transition: all .5s ease
			& .svg__st
				stroke: #a81060
				transition: all .5s ease
			& .services__img--info
				background-color: #a70c5d
				fill: #ffffff
				transition: all .5s ease
				&.info
					fill: #ffffff
					stroke: #FFFFFF
	&__title--block
		padding-left: 30px
		font-family: "Gotham"
		text-transform: uppercase
		color: #3f4147
		font-size: 15px
		display: inline
		width: 70%
		float: left
		line-height: 1.333
		margin: 0
		display: flex
		align-items: flex-end
		min-height: 40px;
	&__img--service
		width: 40px
		height: 40px
		float: left
		&:hover
			cursor: pointer
	&__subtitle--block
		display: inline-block
		padding: 25px 50px 0 66px
	&__img--info
		width: 30px
		height: 30px
		border: 2px solid #a70c5d
		border-radius: 50%
		padding: 5px
		float: left
		margin-right: 20px
	&__parag
		list-style: none
		line-height: 1.538
		&:before
			content: "o"
			padding-right: 10px
			font-weight: bold
			color: #ae206a
			font-family: "Gotham"


.reviews
	background: #ffffff
	&>header
		width: 100%
		margin: 0 auto
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-content: center
		align-items: center
		text-align: center
		flex-direction: column
		justify-content: center
		padding: 60px 0 80px 0
	&__title--main
		font-weight: bold
		margin: 0
		line-height: 1.333
		text-align: center
		font-family: "Gotham"
		text-transform: uppercase
		&:after
			content: ""
			display: block
			width: 50px
			height: 2px
			background: #a70c5d
			margin: 20px auto
	&__subtitle--main
		text-align: center
		margin: 0
		color: #3f4147
		font-family: "GothamPro"
	&__img--quotes
		width: 20px
		padding-bottom: 20px
		stroke: #a70c5d
	&__content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		max-width: 1080px
		margin: 0 auto
	&__block--text
		padding-right: 80px
		&:hover
			cursor: pointer
			& .reviews__author
				color: #a70c5d
				transition: all .5s ease
			& .quotes
				fill: #a70b5d
				stroke: #a70b5d
				transition: all .5s ease
	&__block--video:hover
		cursor: pointer
		& .reviews__author
			color: #a70c5d
			transition: all .5s ease
		& .youtube
			fill: #a70c5d
			transition: all .5s ease
	&__text
		font-family: "GothamPro"
		margin: 0
		font-size: 17px
		line-height: 1.471
		padding-bottom: 40px
	&__author
		font-family: "Gotham\ Bold"
		font-size: 1rem
		// font-family: "GothamBold"
		text-decoration: none
		margin: 0
		padding: 20px 0
	&__post
		float: left
		font-size: 14px
		font-family: "GothamPro"
		margin: 0
		&:after
			content: "•"
			padding: 0 10px
			color: #a70c5d
			transform: translateX(-10px)
	&__comp
		float: left
		text-decoration: none
		margin: 0
		&--link
			color: #000000
			font-weight: bold
			text-decoration: underline #d8d9d9
			font-family: "Gotham"
			&:hover
				transition: all .5s ease
				color: #a70c5d
	&__img--youtube
		display: block
		margin-bottom: 20px
		width: 20px
	&__video
		height: 212px
		width: 300px
		display: block
	&__footer
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: center
		padding: 70px 0 55px 0
		border-bottom: 1px solid #f4f4f4
		&:hover
			cursor: pointer
		&:hover .reviews__img--reload
			animation: 1s linear 0s normal none infinite running reload
			-webkit-animation: 1s linear 0s normal none infinite running reload
	&__img--reload
		height: 20px
		line-height: 60px
		vertical-align: middle
	&__reload
		text-transform: uppercase
		font-family: "Gotham"
		display: inline-block
		font-size: 11px
		margin: 0
		padding-left: 10px
	





@keyframes reload
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

@-webkit-keyframes reload
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)


.services__subtitle b
    color:#000000


.reviews__subtitle b
    color:#000000


@media screen and (max-width: 1080px)
	.services 
		padding-bottom: 20px
		&__container
			& header
			padding: 0 20px
		&__subtitle--main
			padding: 0 20px 0 20px
		&__content
			padding: 0px 40px 0px 40px
			flex-direction: column
			&:first-of-type
				padding-bottom: 0
		&__block
			display: block
			width: 100%
			padding-top: 10px
		&__img--service
			display: block
			width: 100%
			height: 50px
			margin-bottom: 15px
		&__title--block
			display: block
			width: 100%
			padding: 0
			text-align: center
		&__subtitle--block
			padding: 0 5px 0 5px
		&__img--info
			display: none
		&__parag
			display: flex
	.reviews
		&__content
			flex-direction: column
			padding: 	0px 50px 0 50px	
		&__img--quotes
			display: block
			margin: 0 auto
			height: 50px
		&__subtitle
			padding: 0 20px;
		&__text
			text-align: center
		&__img--author
			margin: 0 auto
			display: block
		&__author
			text-align: center
		&__post
			display: block
			text-align: center
			float: none
		&__post:after
			content: ""
		&__comp
			display: block
			text-align: center
			float: none
			margin-bottom: 20px
		&__img--youtube
			margin: 0 auto
			display: block
			padding-bottom: 20px
		&__video
			margin: 0 auto
		&__block--text
			padding-right: 0