@font-face {
    font-family: "Gotham";
    src: url("../fonts/gotham.otf"); }

@font-face {
    font-family: "Gotham Bold";
    src: url('../fonts/Gotham\ Bold.otf'); }

@font-face {
    font-family:"GothamRegular";
    src: url("../fonts/gothamregular.ttf"); }
  
@font-face {
    font-family: "GothamLight";
    src: url("../fonts/githamlight.ttf"); }

@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamProRegular.ttf"); }

.header, .content{
    background: #f5f5f5;
    img { 
        pointer-events: none;
        user-select: none;}
}

.header {
    nav {
        background-color: #f5f5f5;
        padding-top: 20px;

        .nav-item {
            font-size: 15px;
            font-family: "GothamPro";
            text-transform: uppercase;
            color:#292929;
            padding-right: 2rem !important;
            font-weight: bolder;
    
            &:hover {color:#c51b74 !important; font-weight: bolder;}

            &:last-of-type{margin-right: 8rem;}
        }
        form {
            position: relative;
            .form-group {
                margin-bottom: 0;
                width: 65px;
                height: 32px;

                
                &:after {
                    content: "";
                    display: block;
                    width: 17px;
                    height: 17px;
                    background: #dddbdb;
                    border-radius: 50%;
                    top: 9px;
                    position: absolute;
                    left: 10px;
                }

                .custom-select{
                    border-radius: 30px;
                    border: 2px solid #dddbdb;
                    text-transform: uppercase;
                    color: #a70c5d;
                    font-weight: bold;
                    font-family: "Gotham\ Bold";
                    padding-left: 32px;
                    padding-right: 0;
                    padding-top: 5px;
                    height: 35px;
                    background: none;

                    option {
                        font-size: 12px;
                        text-transform: uppercase;
                        color: #808080;
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}

.content {
    .content__info {
      h1 {
        // font-family: "Gotham Bold";
        font-size: 30px;
        font-weight: bolder;
        margin-top: 80px;
        color: #454545;

        &:after {
            content:"";
            width: 40px;
            height: 2px;
            background-color: #a70c5d;
            display: block;
            margin: 30px 0;
        }
        }

      p { 
        font-family: "GothamLight";
        font-size: 1rem;
        padding-right: 60px;

        b {font-family: "Gotham";}
        }

      p:last-of-type {margin-top: 40px; margin-bottom: 0;}

      button {
          width: 180px;
          height: 50px;
          margin-top: 50px;
          margin-bottom: 20px;
          border-radius: 30px;
          background-color: #a70c5d;
          color: #fff;
          text-transform: uppercase;
          font-size: 11px;
          padding-left: 15px;
          font-weight: bold;
          position: relative;

          &:focus, &:active {
              outline: none !important;
          }

          &:after {
              content:"";
              width: 22px;
              height: 22px;
              display: block;
              background: url(../img/arrow.png);
              position: absolute;
              top: 13px;
              left: 15px;
              transform: rotate(180deg);
          }
      }  
    }

    .content__person {
        padding-left: 2em;

        &:before {
            content: "";
            width: 80px;
            height: 80px;
            display: block;
            cursor: pointer;
            background: #fff;
            background-image: url('../img/btn-play.png');
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            position: absolute;
            top: 40%;
            left: -60px;
            // border: 1px solid #bfbcbc;
        }
    }
    
}

